.BankSkeletonCard {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    &:hover {
        cursor: default;
        outline: none;
    }
}

.first {
    display: flex;
    align-items: center;
}

.ava {
    //для перебивания inline-стилей скелетона
    width: 55px !important;
    height: 55px !important;
    margin-right: 20px;
    border-radius: 100%;
}
.text {
    margin-bottom: 6px;
}

@media (max-width: 760px) {
    .BankSkeletonCard {
        width: 95%;
        gap: 15px;
    }
}
